@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 2px solid red;
}
body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);
}
p {
    text-align: center;
}

/* QR Code Card Styles */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card-container {
    max-width: 280px;
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 5px 18px rgb(128, 128, 128, 0.3);
}
.card-img {
    width: 100%;
    margin-bottom: 1.2rem;
}
.card-img img {
    width: 100%;
    display: block;
    border-radius: .5rem;
    object-fit: cover;
}
.card-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.2rem;
}
.card-heading {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--dark-blue);
    width: 100%;
}
.card-description {
    font-size: .9rem;
    font-weight: 400;
    color: var(--grayish-blue);
}

/* Footer Section Styles */
footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(227, 18%, 15%);
}

/* Mobile Screen Layout */
@media only screen and (max-width: 375px) {
    .card-heading {
        font-size: 1.2rem;
    }
    .card-info {
        font-size: .8rem;
    }
    .attribution {
        font-size: 10px;
    }
}